#gform_page_2_3{

  #label_2_141_1{
    margin-left: 42px;
    label{
      line-height: 1.4;
    }
  }

  input[type=checkbox] + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 20px 0 -40px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    background-color: #D0F9ED;
    border: 1px solid #43E7B9;
  }

  input[type="checkbox"]:checked + label:after {
    font-family: 'Material Icons';
    content: 'check';
    width: 10px !important;
    height: 10px !important;
    color: #CF003D;
    position: absolute;
    top: -2px;
    left: -41px;
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
  }

  #gform_previous_button_2{
    text-align: left;
  }

  #uploadFile_icon{
    font-size: 32px;
    margin-top: 21px;
  }

  .gfield_upload_rules_2_134{
    p{
      opacity: 1;
      color: rgba(0,0,0,1);
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0px;
      text-align: center;
      line-height: 20px;
    }
  }

  .header_manuel_check{
    opacity: 1;
    color: rgba(0,0,0,1);
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.5px;
    text-align: left;
    line-height: 40px;
  }

  .manueller_check_text{
    margin-bottom: 40px;
  }

  .manueller_check_text{
    p{
      opacity: 1;
      color: black;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0px;
      line-height: 28px;
      margin-top: 24px;
    }
  }

  .gfield_label {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 0;
    margin-top: 18px;
  }

  .ginput_container_fileupload {
    height: 165px;
    width: auto;
    background-color: #F2F2F2;
  }

  .gform_drop_area{
    height: 100px;
    background-color: #F2F2F2;
    //zum check disablen
    border: solid 1px #F2F2F2;
    padding: 16px;
    margin-bottom: 0px;
  }

  #field_2_134{
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 8px;
  }


  #gfield_upload_rules_2_134{
    margin: auto;
    padding-top: 0px;
    opacity: 1;
    color: rgba(0,0,0,1);
    font-family: "Nexa";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    line-height: 20px;
    p{
      margin-top: 0;
    }
  }

  #gform_browse_button_2_134{
    cursor: pointer;
    border-radius: 32px;
    border: 2px solid rgba(20,225,167, 1);
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    width: 322px;
    height: 56px;
    opacity: 1;
    color: rgba(0,0,0,1);
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.7px;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
  }

  #field_2_134{
    text-align: center;
    #gform_preview_2_134{
      .ginput_preview:after {
        font-family: 'Material Icons';
        content: "clear";
        color: red;
        position: absolute;
        right: 22px;
        font-size: 22px;
      }
      .ginput_preview{
        border-top: solid #CCCCCC 1px;
        display: inherit;
        padding-left: 12px;
        opacity: 1;
        color: black;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
        line-height: 20px;
        margin-bottom: 14px;
        padding-top: 16px;
        span{
          position: absolute;
          right: 23px;
          margin-top: -9px;
          z-index: 9999;
        }
        .dashicons-trash:before {
          display: none;
        }
      }

    }
  }

  //Jetzt aschicken Button Button
  #gform_submit_button_2{

    border: solid 1px #14E1A7;
    border-radius: 32px;
    opacity: 1;
    background-color: #14e1a7;

    height: 64px;
    cursor: pointer;
    opacity: 1;
    color: black;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.7px;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    margin-left: 205px;
    margin-top: 30px;
    position: absolute;


    width: 270px;
    padding-top: 7px;

  }

  ///Jetzt aschicken zurück Button
  #gform_previous_button_2{
    border: none;
    opacity: 1;
    width: 125px;
    height: 64px;
    cursor: pointer;
    opacity: 1;
    color: black;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0,7px;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 30px;

  }


  /*  #next_button_arrow:before{
      font-family: "Font Awesome 6 Pro";
      content: "\f061";

      margin-left: -21px;

      opacity: 1;
      color: rgba(0,0,0,1);

      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.7px;
      text-align: center;
      line-height: 28px;
      text-transform: uppercase;
    }*/
  #next_button_arrow{
    position: absolute;
    bottom: 121px;
    right: 11px;
  }



}